html {
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-align: left;
  letter-spacing: normal;
  background-image: url('/assets/images/Rectangle\ 4.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg {
  background-color: #333333;
}

.domain-name {
  position: absolute;
  width: 230px;
  height: 53px;
  left: 6%;
  top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  color: #CF075B;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.content1 {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  width: 608px;
  height: 787px;
  left: 15%;
  top: 113px;
  background: #242424;
  border-radius: 20px;
}

.image-icon {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 79px;
  top: 48px;
}

.heading {
  position: absolute;
  align-content: center;
  width: 550px;
  height: 68px;
  left: 32px;
  top: 536px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: #FFFFFF;
}

.sub-topic {
  position: absolute;
  width: 400px;
  height: 45px;
  left: 109px;
  top: 603px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #CF075B;
}

.fb {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 139px;
  top: 672px;
}

.twitter {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 209px;
  top: 672px;
}

.behance {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 279px;
  top: 672px;
}

.dribbble {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 349px;
  top: 672px;
}

.linkedin {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 419px;
  top: 672px;
}

.content2 {
  position: absolute;
  width: 608px;
  height: 500px;
  right: 15%;
  top: 262px;
  background: #242424;
  border-radius: 20px;
}

.profile {
  position: absolute;
  width: 147px;
  height: 68px;
  left: 54px;
  top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: #FFFFFF;
}

.user-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 43px;
  top: 150px;
}

.name {
  position: absolute;
  width: 100px;
  height: 36px;
  left: 95px;
  top: 148px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.dot1 {
  position: absolute;
  width: 20px;
  height: 36px;
  left: 220px;
  top: 148px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.username {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 265px;
  top: 148px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.address-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 43px;
  top: 210px;
}

.address {
  position: absolute;
  width: 100px;
  height: 36px;
  left: 95px;
  top: 208px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.dot2 {
  position: absolute;
  width: 20px;
  height: 36px;
  left: 220px;
  top: 208px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.my-address {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 265px;
  top: 208px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.phone-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 43px;
  top: 270px;
}

.phone {
  position: absolute;
  width: 100px;
  height: 36px;
  left: 95px;
  top: 268px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.dot3 {
  position: absolute;
  width: 20px;
  height: 36px;
  left: 220px;
  top: 268px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.my-phone-no {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 265px;
  top: 268px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.email-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 43px;
  top: 330px;
}

.email {
  position: absolute;
  width: 100px;
  height: 36px;
  left: 95px;
  top: 328px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.dot4 {
  position: absolute;
  width: 20px;
  height: 36px;
  left: 220px;
  top: 327px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.my-email {
  position: absolute;
  width: 300px;
  height: 36px;
  left: 265px;
  top: 327px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.btn {
  position: absolute;
  width: 300px;
  height: 66px;
  left: 154px;
  top: 404px;
}

/* @media only screen and (max-width: 991px) {} */

/* @media only screen and (max-width: 767px) {} */

@media only screen and (max-width: 479px) {
  body {
    background-image: url('/assets/images/Rectangle\ 5.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .domain-name {
    position: absolute;
    width: 118px;
    height: 27px;
    left: 40px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #CF075B
  }
  .content1 {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    width: 73%;
    height: 388.82px;
    left: 13.5%;
    top: 102px;
    background: #242424;
    border-radius: 20px;
  }
  .image-icon {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50px;
    top: 26px;
  }
  .heading {
    position: absolute;
    width: 270px;
    height: 33px;
    left: 21px;
    top: 241px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
  }
  .sub-topic {
    position: absolute;
    width: 208px;
    height: 24px;
    left: 46px;
    top: 279px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #CF075B;
  }
  .fb {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 60px;
    top: 328px;
  }
  .twitter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 99px;
    top: 328px;
  }
  .behance {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 138px;
    top: 328px;
  }
  .dribbble {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 177px;
    top: 328px;
  }
  .linkedin {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 216px;
    top: 328px;
  }
  .content2 {
    position: absolute;
    width: 73%;
    height: 246.71px;
    left: 13.5%;
    top: 63%;
    background: #242424;
    border-radius: 20px;
  }
  .profile {
    position: absolute;
    width: 72px;
    height: 33px;
    left: 18px;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
  }
  .user-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 78px;
  }
  .name {
    position: absolute;
    width: 55px;
    height: 20px;
    left: 48px;
    top: 78px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF
  }
  .dot1 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 108px;
    top: 78px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  .username {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 133px;
    top: 78px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .address-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 103px;
  }
  .address {
    position: absolute;
    width: 55px;
    height: 20px;
    left: 48px;
    top: 103px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .dot2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 108px;
    top: 103px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF
  }
  .my-address {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 133px;
    top: 103px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .phone-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 128px;
  }
  .phone {
    position: absolute;
    width: 55px;
    height: 20px;
    left: 48px;
    top: 128px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .dot3 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 108px;
    top: 128px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  .my-phone-no {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 133px;
    top: 128px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF
  }
  .email-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 153px;
  }
  .email {
    position: absolute;
    width: 55px;
    height: 20px;
    left: 48px;
    top: 153px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .dot4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 108px;
    top: 153px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  .my-email {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 133px;
    top: 153px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .btn {
    position: absolute;
    width: 150px;
    height: 33px;
    left: 76px;
    top: 188px;
  }
}