html {
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: #202040;
}

header {
  /* height: 350px; */
}

.cover-left {
  text-align: left;
}

.name, .h1 {
  /* text-align: center; */
  /* padding: 50px 0 50px 0; */
  /* margin: 100px 0 100px 0; */
}

@media screen and (min-width: 768px) {
  .name h1 {
    font-size: 5vw;
  }

  .nav ul li {
    font-size: 2vw;
  }

  .name {
    padding: 50px 0 50px 50px;
    margin: 100px 0 100px 100px;
  }

  .title {
    font-size: 4vw;
  }
}

@media screen and (max-width: 767px) {
  .name h1 {
    font-size: 10vw;
  }

  .nav ul li {
    font-size: 5vw;
  }

  .name {
    padding: 25px 0 25px 10px;
    margin: 50px 0 50px 20px;
  }

  .title {
    font-size: 8vw;
  }
}

.name h1 {
  /* text-align: center; */
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  margin: 0;
}

.cover-right {
  text-align: left;
  /* display: flex; */
  /* position: fixed; */
  /* z-index: 10; */
}

.nav {
  padding: 50px 0 50px 0;
  margin: 50px 0 150px 0;
  /* display: block; */
  /* float: none; */
  /* position: static; */
  /* z-index: auto; */
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li, a, a:visited {
  color: white;
  list-style-type: none;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 0;
}

.body {
  padding: 50px 10px 50px 10px;
}

.about {
  text-align: center;
  padding: 0;
}

.title h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
}